:root {
    --white: #FFFFFF;
    --black: #000000;
    --green: #2e8540;
    --dark-accent: #494440;
}

body {
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
    position: relative;
    font-size: 1rem;
    color: var(--black);
}

h1, h2, h3, h4, h5 {
    font-family: 'PT Sans Narrow', sans-serif; 
}

.badge {
    font-size: 1rem !important;
    color: var(--white);
    margin: 3px;
    background-color: var(--dark-accent);
    font-weight: 400 !important;
}

.badge--bordered {
    border: 1px solid var(--dark-accent);
    color: var(--black);
    background-color: var(--white);
}


.port-well {
    border: 1px solid var(--dark-accent);
}

